<div>

    <div>

        @if(cityDtos.length > 0) {
        <div>
            <app-card *ngFor="let city of cityDtos"
                (click)="selectedCityByLonAndLat(selectedCity.lat, selectedCity.lon)"
                (outputData)="handleSelectedCityEmit($event)" [cardTitle]="city.name" [properties]="cityProperties"
                [data]="city" [icon]="icon" [emitClickEvent]="true"></app-card>
        </div>
        }@else if (selectedCity !== undefined){
        <div>
            <app-card
            (outputData)="handleSelectedCityEmit($event)" [cardTitle]="selectedCity.name" [properties]="cityProperties"
            [data]="selectedCity" [icon]="icon" [emitClickEvent]="false"></app-card>
        </div>
        }

    </div>


</div>